<h1><%= @navbar_title %></h1>
<p id="participant-count"></p>
<button id="watch-mode">Watch Mode On/Off</button>
<img class="avatar" src="<%= current_user.avatar.url %>" alt="" > 
<%= current_user.username %>
<div class="logout">
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</div>